!!! 5
%html
  %head
    %title SES Proxy WebPanel
    %link(rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" media="screen")
    %link(rel="stylesheet" type="text/css" href="datepicker/css/datepicker.css" media="screen")
    %link(rel="stylesheet" type="text/css" href="css/application.css" media="screen")
    %link(rel="icon" type="image/ico" href="https://awsmedia.s3.amazonaws.com/favicon.ico")
    %link(rel="shortcut icon" type="image/ico" href="https://awsmedia.s3.amazonaws.com/favicon.ico")
  %body
    %div.container-fluid
      %div.navbar
        %div.navbar-inner
          %a.brand(href="#") SES Proxy WebPanel
          %ul.nav.nav-pills
            %li{:class => ('active' if @menu_item.eql? "mails")}
              %a(href="/") Sent Emails
            %li{:class => ('active' if @menu_item.eql? "bounced_mails")}
              %a(href="/bounced_mails") Bounced Emails
            %li{:class => ('active' if @menu_item.eql? "bounces")}
              %a(href="/bounces") Bounced Addresses
      = yield
    %script(src="http://code.jquery.com/jquery-latest.js")
    %script(src="bootstrap/js/bootstrap.min.js")
    %script(src="datepicker/js/bootstrap-datepicker.js")
    %script(src="highcharts/highcharts.js")
    %script(src="js/application.js")